
<div class="jumbotron">
  <h1 class="display-4">Этап РТ - {{ $ctrl.item._id }}</h1>
</div>
<div class="container mb-4">
  <response-service-message></response-service-message>
  <div class="row">
    <div class="col">
      <form ng-submit="$ctrl.onSave()" name="editBlockForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input id="name" type="text" ng-model="$ctrl.editedItem.name" autocomplete="off" required="required" class="form-control"/>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label for="startDate">Дата начала</label>
            <input placeholder="Select a date..." id="startDate" ng-model="$ctrl.startDateMoment" moment-picker="$ctrl.editedItem.startDate" ng-model-options="{ updateOn: 'blur' }" autocomplete="off" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label for="endDate">Дата окончания</label>
            <input placeholder="Select a date..." id="endDate" ng-model="$ctrl.endDateMoment" moment-picker="$ctrl.editedItem.endDate" ng-model-options="{ updateOn: 'blur' }" autocomplete="off" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">       
          <div class="col-2">
            <label for="color">Цвет</label>
            <input id="color" type="color" ng-model="$ctrl.editedItem.color" autocomplete="off" class="form-control"/>
          </div>
        </div>
        <div class="row justify-content-between">
          <div role="group" class="btn-group">
            <button type="submit" ng-disabled="$ctrl.isFormSubmissionDisabled()" class="btn btn-primary">Save</button><a ui-sref="rt-periods-list" class="btn btn-warning">Cancel</a>
          </div>
          <button type="button" ng-click="$ctrl.onDelete()" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>