
<div class="jumbotron">
  <h1 class="display-4">Редактировать этап РТ - {{ $ctrl.item.name }}</h1>
</div>
<div class="container mb-4">
  <response-service-message></response-service-message>
  <div class="row">
    <div class="col">
      <form ng-submit="$ctrl.onSave()" name="editBlockForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input id="name" type="text" ng-model="$ctrl.editedItem.name" autocomplete="off" required="required" class="form-control"/>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="startDate">Дата начала</label>
            <md-datepicker placeholder="Select a date..." id="startDate" ng-model="$ctrl.editedItem.startDate" md-open-on-focus="md-open-on-focus" autocomplete="off" required="required">     </md-datepicker>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="endDate">Дата окончания</label>
            <md-datepicker placeholder="Select a date..." id="endDate" ng-model="$ctrl.editedItem.endDate" md-open-on-focus="md-open-on-focus" autocomplete="off" required="required">     </md-datepicker>
          </div>
        </div>
        <div ng-init="" class="form-group row"> 
          <div class="col-2">
            <label for="color">Цвет</label>
            <input id="color" type="color" ng-model="$ctrl.editedItem.color" autocomplete="off" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div role="group" class="btn-group">
              <button type="submit" ng-disabled="$ctrl.isFormSubmissionDisabled()" class="btn btn-primary">Save</button><a ui-sref="rt-periods-list" class="btn btn-warning">Cancel</a>
            </div>
          </div>
          <div class="col text-right"> 
            <button type="button" ng-click="$ctrl.onDelete()" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>