include ../partials/addStringField.jade
include ../partials/addHTMLField.jade
include ../partials/addNumberField.jade
include ../partials/addBooleanField.jade
include ../partials/addDateField.jade
include ../partials/addTimeField.jade
include ../partials/addColorField.jade

.jumbotron
  h1.display-4 #{fe.names.edit} - {{ $ctrl.item.name }}
.container.mb-4
  response-service-message
  .row
    .col
      form(ng-submit='$ctrl.onSave()', name='editBlockForm')
        each field in fe.pages.add.fields
                if (field.type === 'String')
                    + addStringField(field, true)
                if (field.type === 'HTML')
                    + addHTMLField(field, true)
                if (field.type === 'Number')
                    + addNumberField(field, true)
                if (field.type === 'Boolean')
                    + addBooleanField(field, true)
                if (field.type === 'Date')
                    + addDateField(field, true)
                if (field.type === 'Time')
                    + addTimeField(field, true)
                if (field.type === 'Color')
                    + addColorField(field, true)

        .row
          .col
            .btn-group(role='group')
              button.btn.btn-primary(type='submit', ng-disabled='$ctrl.isFormSubmissionDisabled()') Save
              a.btn.btn-warning(ui-sref='#{name}-list') Cancel
          .col.text-right  
            button.btn.btn-danger(type='button', ng-click='$ctrl.onDelete()') Delete