
<div class="jumbotron">
  <h1 class="display-4">Предмет -  - {{ $ctrl.item.name }}</h1>
</div>
<div class="container mb-4">
  <response-service-message></response-service-message>
  <div class="row">
    <div class="col">
      <form ng-submit="$ctrl.onSave()" name="editBlockForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input id="name" type="text" ng-model="$ctrl.editedItem.name" autocomplete="off" required="required" class="form-control"/>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <label for="code">Код</label>
            <input id="code" type="number" ng-model="$ctrl.editedItem.code" autocomplete="off" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <label for="variantsCount">Количесвто вариантов</label>
            <input id="variantsCount" type="number" ng-model="$ctrl.editedItem.variantsCount" autocomplete="off" class="form-control"/>
          </div>
        </div>
        <div ng-init="$ctrl.editedItem.active = true" class="form-group form-check">
          <input id="active" type="checkbox" ng-model="$ctrl.editedItem.active" class="form-check-input"/>
          <label for="active" class="form-check-label">Активный</label>
        </div>
        <div class="row">
          <div class="col">
            <div role="group" class="btn-group">
              <button type="submit" ng-disabled="$ctrl.isFormSubmissionDisabled()" class="btn btn-primary">Save</button><a ui-sref="disciplines-list" class="btn btn-warning">Cancel</a>
            </div>
          </div>
          <div class="col text-right"> 
            <button type="button" ng-click="$ctrl.onDelete()" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>