
<div class="jumbotron">
  <h1 class="display-4">Этапы РТ</h1>
</div>
<div class="container-fluid">
  <response-service-message></response-service-message>
  <div class="row mb-4">
    <div class="col"><a ui-sref="rt-periods-add" class="btn btn-info">Добавить этап</a></div>
  </div>
  <div class="row">
    <div grid-data="" grid-options="$ctrl.gridOptions" grid-actions="gridActions" server-pagination="true" class="col">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="nameFilter">Поиск по названию:</label>
            <input id="nameFilter" type="text" placeholder="Начните набирать текст..." ng-change="gridActions.filter()" ng-model="name" filter-by="name" filter-type="text" class="form-control"/>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="startDateFilter">Дата начала:</label>
            <div class="row">
              <div class="col">
                <nobr>От&nbsp;
                  <md-datepicker placeholder="Select a date..." id="startDateFrom" ng-model="dateFrom_startDate" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" md-hide-icons="calendar" filter-by="startDate" filter-type="dateFrom" md-open-on-focus="md-open-on-focus"></md-datepicker>
                </nobr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                <nobr>До&nbsp;
                  <md-datepicker placeholder="Select a date..." id="startDateTo" ng-model="dateTo_startDate" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" md-hide-icons="calendar" filter-by="startDate" filter-type="dateTo" md-open-on-focus="md-open-on-focus">   </md-datepicker>
                </nobr>
                <div ng-show="dateTo_startDate || dateFrom_startDate" class="buttons-right"><a href="" ng-click="dateTo_startDate = null; dateFrom_startDate = null; gridActions.refresh();">Очистить фильтр</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="endDateFilter">Дата окончания:</label>
            <div class="row">
              <div class="col">
                <nobr>От&nbsp;
                  <md-datepicker placeholder="Select a date..." id="endDateFrom" ng-model="dateFrom_endDate" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" md-hide-icons="calendar" filter-by="endDate" filter-type="dateFrom" md-open-on-focus="md-open-on-focus"></md-datepicker>
                </nobr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                <nobr>До&nbsp;
                  <md-datepicker placeholder="Select a date..." id="endDateTo" ng-model="dateTo_endDate" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" md-hide-icons="calendar" filter-by="endDate" filter-type="dateTo" md-open-on-focus="md-open-on-focus">   </md-datepicker>
                </nobr>
                <div ng-show="dateTo_endDate || dateFrom_endDate" class="buttons-right"><a href="" ng-click="dateTo_endDate = null; dateFrom_endDate = null; gridActions.refresh();">Очистить фильтр</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>&nbsp;</label><br/><strong>{{paginationOptions.totalItems}}</strong> всего
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-end">
            <div class="col">
              <div class="form-group">
                <label for="itemPerPageSelect">Items Per Page:</label>
                <select id="itemPerPageSelect" name="itemPerPageSelect" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()" class="form-control">
                  <option value="2">2</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="col">           
              <div class="form-group">
                <label>&nbsp;</label>
                <grid-pagination max-size="5" boundary-links="true" total-items="paginationOptions.totalItems" ng-model="paginationOptions.currentPage" ng-change="reloadGrid()" items-per-page="paginationOptions.itemsPerPage" class="m-0"></grid-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th sortable="name" class="sortable">Название</th>
            <th sortable="startDate" class="sortable">Дата начала</th>
            <th sortable="endDate" class="sortable">Дата окончания</th>
            <th sortable="color" class="sortable">Цвет</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in filtered">
            <td ng-bind="item.name"></td>
            <td ng-bind="item.startDate | date:'dd/MMM/yyyy HH:mm:ss'"></td>
            <td ng-bind="item.endDate | date:'dd/MMM/yyyy HH:mm:ss'"></td>
            <td ng-bind="item.color" ng-style="{'background': '{{ item.color }}'}">   </td>
            <td><a ui-sref="rt-periods-edit({itemId: item._id})" class="btn btn-sm btn-info">Редактировать</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>