<div class="jumbotron">
    <h1 class="display-4">Manage Content Blocks</h1>
</div>

<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <a ui-sref="add-content-block" class="btn btn-info">Add New Content Block</a>
        </div>
    </div>
    <div class="row mt-4">
        <div grid-data grid-options="$ctrl.gridOptions" grid-actions="gridActions" class="col">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th sortable="menuHeader" class="sortable">
                            Menu Header
                        </th>
                        <th sortable="header" class="sortable">
                            Header
                        </th>
                        <th sortable="body" class="sortable">
                            Body
                        </th>
                        <th sortable="visible" class="sortable">
                            Visibile?
                        </th>
                        <th sortable="order" class="sortable">
                            Order
                        </th>
                        <th>
                            Edit Section
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr grid-item>
                        <td ng-bind="item.menuHeader"></td>
                        <td ng-bind="item.header"></td>
                        <td ng-bind-html="$ctrl.parseBody(item.body)"></td>
                        <td ng-bind="item.visible"></td>
                        <td ng-bind="item.order"></td>
                        <td>
                            <a ui-sref="edit-content-block({sectionId: item._id})" class="badge badge-info">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination max-size="5" boundary-links="true" ng-if="$ctrl.paginationOptions.totalItems  > $ctrl.paginationOptions.itemsPerPage"
                total-items="$ctrl.paginationOptions.totalItems" ng-model="$ctrl.paginationOptions.currentPage" ng-change="reloadGrid()"
                items-per-page="$ctrl.paginationOptions.itemsPerPage">
            </pagination>
        </div>
    </div>
</div>