<div class="jumbotron">
    <h1 class="display-4">Add Content Block Below</h1>
</div>

<div class="container mb-4">
    <response-service-message></response-service-message>
    <div class="row">
        <div class="col">
            <form ng-submit="$ctrl.onAdd()" name="addNewBlockForm" ng-init="$ctrl.item.visible = true">
                <div class="form-group">
                    <label for="header">Header</label>
                    <input type="text" class="form-control" id="header" ng-model="$ctrl.item.header" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="menu-header">Menu Header</label>
                    <input type="text" class="form-control" id="menu-header" ng-model="$ctrl.item.menuHeader" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="menu-header">Body</label>
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-7">
                                <ng-quill-editor ng-model="$ctrl.item.body" required></ng-quill-editor>
                            </div>
                            <div class="col-5">
                                <pre>{{$ctrl.item.body}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="menu-header">Order</label>
                    <input type="number" class="form-control" id="menu-header" ng-model="$ctrl.item.order" autocomplete="off">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="visibility" ng-model="$ctrl.item.visible">
                    <label class="form-check-label" for="visibility">Visible</label>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="addNewBlockForm.$invalid">Add Block</button>
                <a ui-sref="content-blocks-list" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>