
<div class="jumbotron">
  <h1 class="display-4">Добавить этап</h1>
</div>
<div class="container mb-4">
  <response-service-message></response-service-message>
  <div class="row">
    <div class="col">
      <form ng-submit="$ctrl.onAdd()" name="addNewBlockForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input id="name" type="text" ng-model="$ctrl.item.name" autocomplete="off" required="required" class="form-control"/>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="startDate">Дата начала</label>
            <md-datepicker placeholder="Select a date..." id="startDate" ng-model="$ctrl.item.startDate" md-open-on-focus="md-open-on-focus" autocomplete="off" required="required">     </md-datepicker>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="endDate">Дата окончания</label>
            <md-datepicker placeholder="Select a date..." id="endDate" ng-model="$ctrl.item.endDate" md-open-on-focus="md-open-on-focus" autocomplete="off" required="required">     </md-datepicker>
          </div>
        </div>
        <div ng-init="$ctrl.item.color='#ffffff'" class="form-group row"> 
          <div class="col-2">
            <label for="color">Цвет</label>
            <input id="color" type="color" ng-model="$ctrl.item.color" autocomplete="off" class="form-control"/>
          </div>
        </div>
        <button type="submit" ng-disabled="addNewBlockForm.$invalid" class="btn btn-primary">Сохранить</button>&nbsp;<a ui-sref="rt-periods-list" class="btn btn-warning">Отмена</a>
      </form>
    </div>
  </div>
</div>