<div class="jumbotron">
    <h1 class="display-4">Edit Content Block</h1>
</div>

<div class="container-fluid mb-4">
    <div class="row" ng-if="$ctrl.saveSuccess">
        <div class="col">
            <div class="alert alert-success" role="alert">
                Block successfully edited!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form ng-submit="$ctrl.onSave()">
                <div class="form-group">
                    <label for="header">Header</label>
                    <input type="text" class="form-control" id="header" aria-describedby="emailHelp" ng-model="$ctrl.block.header" required>
                </div>
                <div class="form-group">
                    <label for="menu-header">Menu Header</label>
                    <input type="text" class="form-control" id="menu-header" ng-model="$ctrl.block.menuHeader" required>
                </div>
                <div class="form-group">
                    <label for="menu-header">Body</label>
                    <div class="container-fluid p-4">
                        <ng-quill-editor ng-model="$ctrl.block.body" required></ng-quill-editor>
                    </div>
                    <pre>{{$ctrl.block.body}}</pre>
                </div>
                <div class="form-group">
                    <label for="menu-header">Order</label>
                    <input type="text" class="form-control" id="menu-header" ng-model="$ctrl.block.order">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="visibility" ng-model="$ctrl.block.visible">
                    <label class="form-check-label" for="visibility">Visible</label>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" ng-click="$ctrl.onDelete()">Delete</button>
                <a ui-sref="contentBlocks" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>