$simple-shadow: rgba(0, 0, 0, 0.5);
$content-block: rgb(247, 212, 170);

body {
    font: 300 16px 'Trebuchet MS', sans-serif;
    
    background: {
        image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg);       
        repeat: no-repeat;       
        size: cover;
        position: center;       
        attachment: fixed;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

navigation {
    font-size: 1.5em;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    margin-right: 30px;   
    margin-bottom: 30px;
    background-color: $content-block;
    border-radius: 20px;
    box-shadow: 0 0 1em 0.25em $simple-shadow;
    padding: 15px;
}


