include ../partials/addStringField.jade
include ../partials/addHTMLField.jade
include ../partials/addNumberField.jade
include ../partials/addBooleanField.jade
include ../partials/addDateField.jade
include ../partials/addColorField.jade

.jumbotron
  h1.display-4 #{fe.names.add}
.container.mb-4
  response-service-message
  .row
    .col
      form(ng-submit='$ctrl.onAdd()', name='addNewBlockForm')
        each field in fe.pages.add.fields
                if (field.type === 'String')
                    + addStringField(field, false)
                if (field.type === 'HTML')
                    + addHTMLField(field, false)
                if (field.type === 'Number')
                    + addNumberField(field, false)
                if (field.type === 'Boolean')
                    + addBooleanField(field, false)
                if (field.type === 'Date')
                    + addDateField(field, false)
                if (field.type === 'Color')
                    + addColorField(field, false)
        
        button.btn.btn-primary(type='submit', ng-disabled='addNewBlockForm.$invalid') Сохранить
        | &nbsp;
        a.btn.btn-warning(ui-sref='#{name}-list') Отмена
