<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div ng-if="$ctrl.alertMessage.type" ng-class="$ctrl.alertNgClassMap[$ctrl.alertMessage.type]"
      class="alert alert-dismissible fade show"
      role="alert">

      <strong ng-if="$ctrl.alertMessage.type === 'error'">Тысяча чертей!</strong>
      <strong ng-if="$ctrl.alertMessage.type === 'success'">Оу, е!</strong><br>
      <span>{{$ctrl.alertMessage.body}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>